.choice-container, #info {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid #bdbdbd;
    color: #bdbdbd;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

div#info {
    flex-flow: column nowrap;
    width: auto;
    position: absolute;
    right: 2vw;
    top: 2vh;
}

div#info p {
    padding: 1rem 1rem 0;
}

div#info p:last-of-type {
    padding: 0 1rem 1rem;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #56a5eb;
    color: white;
}

.choice-text {
    padding: 1.5rem;
}

.selected {
    background-color: #56a5eb;
}

.selected .choice-text {
    color: white
}

#start {
    margin: auto
}

body {
    background-color: #212121;
    color: #bdbdbd;
    font-family: 'Teko', Arial, sans-serif;
}

.btn, input {
    display: inline-block;
    font-size: 3rem;
    padding: 1rem 1rem;
    width: 40rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0 !important;
    text-decoration: none;
    color: #bdbdbd;
    background-color: #212121;

}

.btn:hover {
    cursor: pointer;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
    color: #212121;
    background-color: #bdbdbd;
}

div#join, div#create {
    margin-left: auto;
    margin-right: auto;
    width: 40rem;
}

#roomConfig {
    width: 40rem;
    justify-content: center;
    justify-items: center;
}

div#join > *, div#create > * {
    font-size: 3rem;
    padding: 1rem 1rem;
    width: 40rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #bdbdbd;
    background-color: #404040;

}

input[type=submit]:hover {
    cursor: pointer;
}

input {
    border: 0;
}

hr {
    margin: 5vh;
}

#startQuiz {
    color: white;
    text-decoration: white;
    text-decoration-style: wavy;
    cursor: pointer;
}

#scoreboard li {
    padding: 2rem 10% 2rem 2%;
    width: 50%;
    font-weight: bold;
    font-size: 2rem;
    border: #bdbdbd 2px solid;
    display: inline-block;
}

#joinRoom, #createRoom {
    text-transform: uppercase;
    letter-spacing: .1em;
    font: 4em "Oswald", sans-serif;
    background: url(https://i.ibb.co/h889f1j/imgonline-com-ua-Replace-Color-G6n8-Q4r0-B9q-UY.png) repeat-y;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: wave 80s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

@-webkit-keyframes wave {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}